* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sign-in-and-sign-up {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  // border: 2px solid;

  @media screen and (max-width: 800px) {
    // width: 15rem;
    // display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px auto;
    padding: 10px auto;

    button {
      width: auto;
      display: block;
      align-items: center;
    }
  }

  // @media screen and (max-width: 600px) {
  //   width: 70vw;
  //   height: auto;
  //   margin: auto;
  //   padding: auto;
  //   align-items: center;
  //   justify-content: center;
  //   display: inline-flex;
  //   flex-direction: column;
  //   flex-wrap: wrap;
  // }
}
